<h2>DUI IS ALIVE</h2>
<br><br>
This next DIV should get changed to say "Ack Oop!" by jQuery:
<br><br>
<div id="changeme">Is this working?</div>
<script type="text/javascript">
$("#changeme").html("Ack Oop!");
</script>