$dialedin-blue:       #00aeef;
$dialedin-light-blue: #00aeef;
$dialedin-dark-blue:  #007fc4;
$dialedin-pale-blue:  #ccddee;
$dialedin-paler-blue: #ddeeff;
$dialedin-pastel-blue:#779ECB;
$dialedin-light-grey: #d8d8d8;
$dialedin-grey:       #939398;
$dialedin-dark-grey:  #5d5d5f;
$dialedin-pastel-grey:#CFCFC4;
$dialedin-green:      #19ac6a;
$dialedin-pale-green: #8cd5b4;
$dialedin-paler-green:#ace5d4;
$dialedin-darker-grey:#38383f;
$dialedin-silver:     #bbbfbe;
$dialedin-platinum:   #E5E4E2;
$dialedin-gold:       #efae00;
$dialedin-light-brown:#c4007f;
$dialedin-brown:      #ac6a19;
