<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta NAME-equiv="Pragma" CONTENT="no-cache">
  <%= csrf_meta_tag %>
  <title><%= @pagename || params[:action].capitalize %> : DialedIn User Interface Test Rig</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jrails' %>

</head>
  <body>
    <%= yield %>
  </body>
</html>